*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(229, 229, 229);
}

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

p
{
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 42px;
}